~*
*~
.emacs.d/auto-save-list/*
.emacs.d/undohist/*
.emacs.d/ac-comphist.dat
*.stackdump
.cask
.cask/*
!.cask/.gitkeep
.emacs.d/skk/jisyo
.emacs.d/skk/record
.recentf
.emacs.d/url/**/**
.emacs.d/projectile-bookmarks.eld
.emacs.d/elpa/*
.emacs.d/el-get/*
999-local-definition.el
999-local-definition.elc
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/eshell/*
.emacs.d/projectile.cache
.emacs.d/tramp
.emacs.d/bookmarks
.emacs.d/.bm-repository
.emacs.d/history
.emacs.d/server/server
.emacs.d/smex-items
# Windows image file caches
Thumbs.db
ehthumbs.db

zlocal.vim

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
