[color]
    ui = auto
[user]
    email = kajikawa@reas.jp
    name = Shun Kajikawa
[core]
    editor = vim
    quotepath = false
    autocrlf = false
    excludesfile = /Users/kajikawa/.clipho.gitignore
    attributesfile = /Users/kajikawa/.gitattributes
[push]
    default = simple
[alias]
    permission-reset = "!git diff -p | grep -E \"^(diff|old mode|new mode)\" | sed -e \"s/^old/NEW/;s/^new/old/;s/^NEW/new/\" | git apply"
    # ファイル名のみの差分を表示する
    difff = diff --name-only
    diffsf = diff --stat --name-only
    # staged diff
    diffs = diff --cached
    dp = diff --no-prefix
    dsp = diff --cached --no-prefix
    co = checkout
    st = status
    ap = add -p
    logg = log --graph --all --decorate
    log1 = log --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset%C(black bold)%ar%Creset' --date=iso
    lg = log --graph --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset %Cgreen(%cr:%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
    lga = !"git lg --all"
    log0 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)― %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    log2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''%C(white)%s%C(reset) %C(bold white)― %an%C(reset)' --abbrev-commit
    log3 = log --graph --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short
    log4 = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
    loghash = log --oneline --decorate --branches --remotes --tags --no-merges --date=iso --pretty='format:%C(yellow)%h %C(red)%d %Creset%s (%C(green)%cn%Creset) [%C(blue)%ad%Creset]'
    sgraph = !"git log --oneline --graph"
    ancestor = !zsh -c 'diff -u <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -n 1' -
    unstage = reset HEAD
    ssave = stash save
    slist = stash list
    sshow = stash show -p
    c = commit -v
    sb = show-branch --sha1-name
[ghq]
    root = ~/.ghq
    root = ~/.go/src
    root = ~/repo
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
